*{
    margin: 0;
    padding: 0;
}

body {
    background: #76c4e8 url("../img/backgrounds/bg1.jpg") left bottom repeat-x !important;
    height: 100vh;
}


button.btn.btn-primary.play-button {
    background-color: #281d17;
    border-color: #362720;
    height: 65px;
    padding: 10px 60px;
}

/* 
.player-class-btn {

} */

/* Class Avatars */

.small-avatar {
    max-width: 125px;
}


/* Bootstrap Overrides */
.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #281d17;
    border-color: #362720;
    box-shadow: 0 0 0 0.2rem rgba(73, 54, 18, 0.5);
}