*{
    margin: 0;
    padding: 0;
}

body {
    background: #76c4e8 url("../img/backgrounds/bg1.jpg") left bottom repeat-x !important;
    height: 100vh;
}


button.btn.btn-primary.play-button {
    height: 65px;
    padding: 10px 60px;
    position: absolute;
    top: 46%;
    left: 46%;
}