@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');


*{
    margin: 0;
    padding: 0;
}

body {
    background: #76c4e8 url("../img/backgrounds/bg1.jpg") left bottom repeat-x !important;
    height: 100vh;
    background-origin: content-box;
}

.h1-title {
    text-transform: uppercase;
    font-family: 'Luckiest Guy', cursive;
    color: #362720;
    font-size: 72px;
    padding: 40px;
    margin-bottom: 40px;
}

button.btn.btn-primary.play-button {
    background-color: #281d17;
    border: 5px solid #5b3a29;
    height: 65px;
    padding: 10px 60px;
}
.avatar-block {
    position: absolute;
    left: 50px;
    width: 90px;
    height: 90px;
    margin: 5px;
  }
/* Class Avatars */

.small-avatar {
    max-width: 125px;
}


/* Bootstrap Overrides */
.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #281d17;
    border-color: #362720;
    box-shadow: 0 0 0 0.2rem rgba(73, 54, 18, 0.5);
}


.btn-secondary {
    color: #fff;
    background-color: #281d17;
    border-color: #281d17;
}